@font-face {
    font-family: 'DIN1451';
    src: url('DIN1451.ttf') format('truetype'); 
    /*src: url('PF Din Mono Medium.ttf') format('truetype');*/
}
body {
    margin: 0px;
    overflow-x: hidden;
}
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    transition: 0.5s;
    padding-top: 20px;
    display: flex;
    flex-direction:column;
}

.sidenavbar{
    height: 100%;
    width: 0.3vw;
    background-color: limegreen;
    position: fixed;
    z-index: 3;
    left: 6.6vw;
}
a{
    padding-left: 1.2vw;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    cursor: none;
    position: relative;
}
a mark3{
    color: limegreen;
}

a:hover {
    color: rgb(255,240,0) !important;
}



.content {
    margin-left: 7.9vw;
    margin-right: 1.2vw;
    position: relative;
}

p, h1, a {
    text-transform: uppercase;
    font-size: 2.5vw;
    line-height: 1.1em;
    font-family: 'DIN1451', sans-serif; 
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
}


.start{
    padding-top: 20px;
}
.opbouw{
    page-break-after: always;
}
.quote{
    display: block;
    text-align: justify;
    margin-left: 12.5%;
    margin-right: 12.5%;
    page-break-inside: avoid; 
}

mark {
    color: limegreen;
    background-color: transparent;
    -webkit-print-color-adjust:exact;
}

mark2 {
    color: limegreen;
    background-color: transparent;
    -webkit-print-color-adjust:exact;
}

.refs{
    word-break: break-all !important;
}


.shape-playground-1 {
    width: 100%;
    margin: 0;
    top: -1em;
}
#draggable {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(255,240,0);
    z-index: -1;
    -webkit-print-color-adjust:exact;
}



.afbeelding{
    width: 100%;
}
figcaption{
    font-size: 1.6vw !important;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    line-height: 1.2em;
    font-family: 'DIN1451', Helvetica, sans-serif;
}


.col_1{
    position: absolute;
    float: left;
    z-index: -2;
    padding: 0;
    margin-left: 0;
    border: 0;
    page-break-inside: avoid;
}
.kwart{
    width: 24%;
}
.half{
    width: 49%;
}

.col_2{
    position: absolute;
    float: left;
    z-index: -2;
    padding: 0;
    margin-left: 26%;
    border: 0;
    page-break-inside: avoid;
}
.col_3{
    position: absolute;
    float: left;
    z-index: -2;
    padding: 0;
    margin-left: 50%;
    border: 0;
    width: 25%;
    page-break-inside: avoid;
}



#afb1-2{
    top: 6092px;
    margin-top: 0;
}
#afb3-4{
    top: 7620px;
    margin-top: 0;
}
#afb5{
    top: 9148px;
    margin-top: 0;
}
#afb6{
    top: 12204px;
    margin-top: 0;
}
#afb7-8{
    top:15250px;
    margin-top: 0;
}
#afb9-10{
    top:18304px;
    margin-top: 0;
}
#afb11-12{
    top:21360px;
    margin-top: 0;
}
#afb13{
    top:22884px;
    margin-top: 0;
}
#afb14-15{
    top:33573px;
    margin-top: 0;
}
#afb16-17{
    top:35100px;
    margin-top: 0;
}
#afb18{
    top:38144px;
    margin-top: 0;
}

#afb19{
    top:39671px;
    margin-top: 0;
}
#afb20{
    top:45779px;
    margin-top: 0;
}
#afb21{
    top:47306px;
    margin-top: 0;
}
#afb22{
    top:48833px;
    margin-top: 0;
}
#afb23-24{
    top:50360px;
    margin-top: 0;
}




@media print { 
    @page:left {
        size: 210mm 297mm;
        margin: 14mm 12mm 14mm 0mm;
    }
    @page:right {
        size: 210mm 297mm;
        margin: 14mm 0mm 14mm 12mm;
    }

    html {
        /* height: 297mm; */
        height: 297mm; 
        -webkit-filter: grayscale(100%);
    }
    .dif {
        margin-top: 0px;
    }
    .content{
        margin: 0mm 15mm 0mm 19mm;
        position: relative;
    }
    .start{
    padding-top: 0px;
    }
    
    .sidenav, .sidenavbar{
        visibility: hidden;
    }

    h1 {
        page-break-before: always;
    }
    p, h1{
        line-height: 1.2em;
        font-size: 19.5pt; 
        font-weight: normal;
    }
    
    figcaption{
        line-height: 1.3em;
        font-size: 14pt !important;
    }
    
    
    #draggable{
        background: rgb(200,200,200);
    }
    mark, mark2, sup{
        color: rgb(120,120,120);
        background-color: transparent;

    } 

}

@media only screen and (max-width: 800px) {
    .sidenavbar{
        height: 100%;
        width: 3px;
        left: 57px;
    }
    a{
        font-size: 20.8px;
        padding-left: 10px;

    }
    p, h1{
        font-size: 20.8px;
    }
    .content{
        margin-left: 70px;
        margin-right: 10px;
    }
    figcaption{
        font-size: 12.8px;
    }
    .kwart{
        width: 49%;
    }
}

@media only screen and (max-width: 400px) {
    .sidenavbar{
        width: 2px;
        left: 45px;
    }
    a{
        font-size: 15px;
        padding-left: 8px;
    }
    p, h1{
        font-size: 15px;
    }
    .content{
        margin-left: 55px;
        margin-right: 8px;
    }

    figcaption{
        font-size: 10px;
    }
    html{
        overflow-x: hidden;
    }

}

