body {
    margin-left: 25px;
    margin-top: 0px;
    margin-right: 25px;
    overflow-x: hidden;
}
.text {
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.dif {
    margin-top: -1em;
}

@font-face {
  font-family: 'DIN1451';
  src: url('DIN1451.ttf') format('truetype');
  
}
.opbouw{
    page-break-after: always;
}

h1, h2{
    font-size: 3em;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'DIN1451', Helvetica, sans-serif;
}

p{
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.1em;
    font-family: 'DIN1451', Helvetica, sans-serif;   
}

.quote{
    display: block;
    margin-left: 12.5%;
    margin-right: 12.5%;
    line-height: 1.1em;
    text-align: center;
    text-transform: none;
    page-break-inside: avoid;

}
mark {
    background-color: transparent;
    text-transform: none;
    color: darkgray;

}

.shape-playground-1 {
    width: 100%;
    margin: 0;
    top: -1em;
}

figcaption{
    font-size: 1.4em;
    display: block;
    padding-top: 5px;
    padding-right: 10px;
    line-height: 1em;
    font-family: 'DIN1451', Helvetica, sans-serif;   

}
.afbeelding{
    width: 100%;
}
.figure_col_1{
    position: absolute;
    float: left;
    z-index: -2;
    padding: 0;
    margin-left: 0px;
    border: 0;
    width: 25%;
    color:darkgray;
    page-break-inside: avoid;
}
.figure_col_2{
    position: absolute;
    float: left;
    z-index: -2;
    padding: 0;
    margin-left: 25%;
    border: 0;
    width: 25%;
    color:darkgray;
    page-break-inside: avoid;
}
.figure_col_3{
    position: absolute;
    float: left;
    z-index: -2;
    padding: 0;
    margin-left: 50%;
    border: 0;
    width: 25%;
    color:darkgray;
    page-break-inside: avoid;
}

#woede{
    top: 1000px;
}
#blijdschap{
    top: 2000px;
}

#draggable {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: rgb(255,230,0);
    z-index: -1;
    -webkit-print-color-adjust:exact;
}
@media print { 
    @page {
        size: 210mm 297mm; 
        margin: 27mm 16mm 27mm 16mm; 
    }
    html, body {
        /* height: 297mm; */
        height: 282mm;
        
    }
    
    .dif span {
        margin-top: 0px;
    }
    
    .text{
    line-height: 1.2em;
    font-size: 22pt;
    
    }
    figcaption{
    line-height: 1em;
    font-size: 14pt;
    
    }
    

}




}


