.rechts {
	font-style: italic;
	padding: 30px;
}

.title {
	font-family: "Graphic", sans-serif;
	font-weight: bold;
	position: fixed;
	top: 0px
	left: 10px;
	padding: 5px 5000px 5px 5px;
	margin: -20px 0px 0px 0px;
	z-index: 1;
	font-size: 32px;
	white-space: nowrap;



}

.paragraaf {
  	color:red;
  	font-size: 15px;
  	line-height: 1.2em;
  	font-family: "Interstate", sans-serif;
  	text-align: left;
  	width: 40%;
  	max-height: 30px;
  	border-style: groove;
  	border-width: 0px 8px;
  	overflow: scroll;
}

.links {
	text-transform: uppercase;
}

.dia {
/*	float: left;
	clear: left;*/
	margin: auto 8px;
	width: 100%;
	display: block;
}
div.hover{
	font-size: 26px;
	font-family: "Graphic", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
	width: 60%;
}

div.hover li:hover{
	-webkit-text-stroke: 1px navy;
	color: white
}

div.fotos{
	width: 40%;
	height: 400px;
	overflow:scroll;
	position: relative;
	float: right;
	bottom: 400px;
}

/*li {
	display: inline-block;
}
*/
* {
	box-sizing: border-box;
}

html, body{
	padding: 0px;
	margin: 0px;
}